@page "/first"

<h1>First Task</h1>

<div>
    <div>
        <label>Input</label>

        <textarea @bind="input"></textarea>
    </div>
    <button class="btn btn-primary" @onclick="Part1">Solve Part 1</button>
    <button class="btn btn-primary" @onclick="Part2">Solve Part 2</button>

</div>
Result : @result.

@code {

    private int result = 0;
    private string input;

    private void Part1()
    {
        result = 0;
        int currentVal = 0;
        var inputList = input.Split(new[] { Environment.NewLine }, StringSplitOptions.None);
        // TODO: Rewrite it to awesome one-line LINQ sometime in the upcoming days
        foreach (var value in inputList)
        {
            Console.WriteLine(value);
            currentVal = (int.Parse(value) / 3) - 2;
            result += currentVal;
        }
    }
    private void Part2()
    {
        result = 0;
        int currentVal = 0;
        Queue<string> inputQueue = new Queue<string>(input.Split(new[] { Environment.NewLine }, StringSplitOptions.None));
        while (inputQueue.Count != 0)
        {
            currentVal = (int.Parse(inputQueue.Dequeue()) / 3) - 2;
            if (currentVal > 0)
            {
                result += currentVal;
                inputQueue.Enqueue(currentVal.ToString());
            }
        }
    }
}
