@page "/second"

<h1>First Task</h1>

<div>
    <div>
        <label>Input</label>

        <textarea @bind="input"></textarea>
        <input type="number" @bind="expectedResult" />
    </div>
    <button class="btn btn-primary" @onclick="Part1">Solve Part 1</button>
    <button class="btn btn-primary" @onclick="Part2">Solve Part 2</button>

</div>
Result : @result.

@code {

    private string result = string.Empty;
    private string input;
    private int expectedResult;
    private int[] inputList;

    private void Part1()
    {
        inputList = input.Split(',').Select(x => Convert.ToInt32(x)).ToArray();
        Solve();


    }

    private void Part2()
    {
        bool found = false;
        for(int x = 0; x < 99 && !found; x++)
        {
            for(int y = 0; y < 99 && !found; y++)
            {
                inputList = input.Split(',').Select(z => Convert.ToInt32(z)).ToArray();
                inputList[1] = x;
                inputList[2] = y;
                Solve();
                if(expectedResult == inputList[0])
                {
                    found = true;
                    result = string.Format("Found value {0} by providing noun {1} and verb {2}. Result is {3}", inputList[0], x, y, (100 * x) + y);
                }
            }
        }

    }

    private void Solve()
    {
        bool stop = false;
        for(int i=0; i<inputList.Length && !stop; i += 4)
        {
            switch (inputList[i])
            {
                case 1:
                    {
                        if (inputList[i + 1] < inputList.Length && inputList[i + 2] < inputList.Length && inputList[i + 3] < inputList.Length)
                        {
                            inputList[inputList[i + 3]] = inputList[inputList[i + 1]] + inputList[inputList[i + 2]];
                        }
                        else
                        {
                            Console.Write("Something went wrong with case 1!");
                        }
                        break;
                    }
                case 2:
                    {
                        if (inputList[i + 1] < inputList.Length && inputList[i + 2] < inputList.Length && inputList[i + 3] < inputList.Length)
                        {
                            inputList[inputList[i + 3]] = inputList[inputList[i + 1]] * inputList[inputList[i + 2]];
                        }
                        else
                        {
                            Console.Write("Something went wrong with case 2!");
                        }
                        break;
                    }
                case 99:
                    {
                        stop = true;
                        break;
                    }
                default:
                    {
                        Console.WriteLine("Unexpected character!");
                        break;
                    }
            }
            result = String.Join(",", inputList.Select(p=>p.ToString()).ToArray());

        }
    }
}
